<!DOCTYPE html>
<html>
    <body>
        <h3>Collatz Form!</h3>
        <form method="POST" action="{% url 'process_collatz_form' %}">
            {% csrf_token %}
            <label for="name">Enter your name</label>
            <input type="text" name="name" id="name"><br/>
            <label for="start">Enter starting value</label>
            <input type="text" name="start" id="start"><br/>
            <input type="submit" value="Get Collatz Sequence">
        </form>
    </body>
</html>