<!DOCTYPE html>
        <html>

            <head>
                <title>Collatz</title>
            </head>

            <body>
                <h2>Collatz sequence for {{start}} </h2>
                <p>
                    {% for val in sequence %}
                        {% if val > 0 %}
                            {{forloop.counter}}. {{val}}<br/>
                        {% endif %}
                    {% endfor %}
                </p>
            </body>

        </html>