<!DOCTYPE html>
<html>
    <body>
        <h3>Package {{package.id}}</h3>
        <h5>Phone: {{package.phone}}</h5>
        <h5>Address: {{package.address}}</h5>
        <h6>Status: {{package.status}}</h6>
        <h6>ETA: {{package.eta}}</h6>
    </body>
</html>