<!DOCTYPE html>
<html>
    <body>
        <h3>Register a package</h3>
        <form action="{% url 'post:register' %}" method="POST">
            {% csrf_token %}
            <input type="textarea" placeholder="Address" name="address">
            <input type="text" placeholder="Phone Number" name="phone">
            <input type="submit" value="submit">
        </form>
        {% if success %}
        <p>Success: Registered a package with id {{id}}. Track it
            <a href="{% url 'post:package_detail' id %}">here</a>
        </p>
        {% endif %}
        <p>Already got a tracking id? Check status here:
            <form method="GET" onsubmit="return setAction(this)">
                <input type="text" id="packageid">
                <input type="submit" value="Track">
            </form>
        </p>
        <p>Postmaster? <a href="{% url 'post:login' %}">Login here.</a></p>
        <script>
            function setAction(form) {
                var id = document.getElementById("packageid").value
                var url = "{% url 'post:package_detail' id=1 %}".replace(/1/, id)
                form.action = url
            }    
        </script>
    </body>
</html>