<!DOCTYPE html>
<html>
    <body>
        <form method="POST" action="{% url 'gradebook:login' %}">
            {% csrf_token %}
            <p>{{error_message}}</p>
            <label for="username">Username</label>
            <input type="text" name="username" id="username"><br/>
            <label for="password">Password</label>
            <input type="password" name="password" id="password"><br/>
            <input type="submit" value="Login">
        </form>
    </body>
</html>