<!DOCTYPE html>
<html>
    <body>
    <h3>{{student.name}}</h3>
        <p>Authenticated User: {{user}}, {{user.is_authenticated}}</p>
        <table>
            {% for item in marks %}
            <tr>
                <td>{{item.subject_name}}</td>
                <td>{{item.score}}</td>
                <form method="DELETE" action="{% url 'gradebook:delete_marks' item.id%}">
                    <td><input type="submit" value="delete"></td>
                </form>
            </tr>
            {% endfor %}
            <form method="POST" action="{% url 'gradebook:add_marks' student.id %}">
                {% csrf_token %}
                <tr>
                    <td><input type="text" name="sub_name"></td>
                    <td><input type="text" name="score"></td>
                    <td><input type="submit" value="add"></td>
                </tr>
            </form>
        </table>
    <a href="{% url 'gradebook:logout' %}">Logout</a>
    </body>
</html>