<!DOCTYPE html>
<html>
    <head>
        <title>Hello!</title>
    </head>

    <body>
        <h4>Hello, {{name}}</h4>
        {% if adult %}
        <p>Secret content hehe</p>
        {% else %}
        <p>Family safe content</p>
        {% endif %}
    </body>
</html>