<!DOCTYPE html>
<html>
    <body>
        {% if knows_password %}
        <h3>Secret content</h3>
        <p>The password is "buttabomma" if you want to show anyone else</p>
        {% else %}
        <h3>Boring content</h3>
        <p>Enter password to know secret content</p>
        {% endif %}

        <form method="POST" action="{% url 'secret_password' %}">
            {% csrf_token %}
            <label for="password">Enter secret code</label>
            <input type="password" name="password" id="password">
            <input type="submit" value="SUBMIT">
        </form>
        <a href="{% url 'secret_reset' %}">Reset</a>
    </body>
</html>